@font-face{
    font-family: "iceland" ;
    src: url('iceland-regular-webfont.woff2') format('woff2'),
         url('iceland-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    
}

body{
    font-family:"iceland";
    background-color:#3AAFA9;
}
.leaveTimeBox{
    display:flex;

}

.page2Container{
    display:flex; 
    align-items: center;
    flex-direction: column;
    justify-content: space-between;

    
}
.boxContainerBig{
    display:flex; 
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    width:2000px;
    height: 570px;
}
.boxContainer{
    height:270px;
    width:1000px;
    background-color:#DEF2F1;
    display:flex;
    margin-top: 30px;
    overflow-y: auto;
    max-height: 180px;
  
    
    
}
.commentBox{
    display: flex;
    width:50px;
    overflow: auto;
}